<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="container w-container">
      <div class="navbar-content-flex-wrapper">
        <a href="{{ links.2f }}" aria-current="page" class="brand w-nav-brand w--current"><img src="{{ images.-17828865.url }}" loading="lazy" alt="{{ images.-17828865.alt | trim | escape }}" class="image"></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <div class="div-block-43">
            <a href="{{ links.2f }}" aria-current="page" class="nav-link w-nav-link w--current">{{ texts.2268ff }}</a>
            <a href="{{ links.-35d401da }}" class="nav-link w-nav-link">{{ texts.-14fef729 }}</a>
          </div>
        </nav>
        <nav role="navigation" class="nav-menu-2 w-nav-menu">
          <div class="text-block">{{ texts.879ed05 }}</div>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>